node_modules/
dist/
build/
.env
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
logs
*.log
npm-debug.log*
.npm
.npmrc
npm-debug.log*
.eslintcache
*.tsbuildinfo
yarn-error.log
._*
.Spotlight-V100
.Trashes
Desktop.ini
